@use '@/shared/vars/vars' as *;

body {
  background: $backgroundColor;
  color: $black;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: $scrollBarWidth;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: $scrollBarBgColor;

  @media (hover: hover) {
    &:hover {
      background-color: $scrollBarHoverBgColor;
    }
  }
}
